<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>
<div class="col-md-8 col-lg-5 col-xl-4">
  <a href="#!" class="catalog__item hover">
    <figure class="catalog__img">
      <img src="images/products/item-1.png" alt=""  />
    </figure>
    <div class="catalog__caption">Тейпы для экстримальных нагрузок (розовый)</div>
    <div class="catalog__price">700 руб.</div>
    <!-- branded-products collapse -->
    <div class="catalog__drop">
      <div class="row">
        <div class="col-8">
          <div class="catalog__info">длина * ширина:</div>
          <div class="catalog__info">цвета:</div>
          <div class="catalog__info">материал: </div>
          <div class="catalog__info">эластичность:</div>
          <div class="catalog__info">водостойкость:</div>
          <div class="catalog__info">фиксация: </div>
          <div class="catalog__info">прочность: </div>
          <div class="catalog__info">износостойкость:</div>
          <div class="catalog__info">лимфодринаж: </div>
        </div>
        <div class="col-8">
          <div class="catalog__info">5 м * 5 см</div>
          <div class="catalog__info">
            <span class="catalog__color bg-black"></span>
            <span class="catalog__color bg-blue"></span>
            <span class="catalog__color bg-pink"></span>
            <span class="catalog__color bg-orange"></span>
            <span class="catalog__color bg-green"></span>
            <span class="catalog__color bg-white"></span>
          </div>
          <div class="catalog__info">Супер нейлон</div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
          <div class="catalog__info">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- branded-products__drop -->
  </a>
  <!-- branded-products__item -->
</div>