
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}
.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar > .scroll-element,
.scrollbar > .scroll-element div
{
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar > .scroll-element.scroll-x {
  bottom: 5px;
  height: 4px;
  left: 15px;
  right: 15px;
  color: $gray-light;
  &::before,&::after {
    position: absolute;
    font: normal normal normal 20px/0 FontAwesome;
    top: 1px;
    z-index: 9;
  }
  &::before {
    content: "\f104";
    left: -15px;
  }
  &::after {
    content: "\f105";
    right: -15px;
  }
}

.scrollbar > .scroll-element.scroll-y {
  bottom: 15px;
  right: 4px;
  top: 15px;
  width: 4px;
  color: $gray-light;
  &::before,&::after {
    position: absolute;
    font: normal normal normal 20px/0 FontAwesome;
    left: -4.5px;
    z-index: 9;
    width: 14px;
  }
  &::before {
    content: "\f106";
    top: -10px;
  }
  &::after {
    content: "\f107";
    bottom: -10px;
  }
}

.scrollbar > .scroll-element .scroll-element_outer {
  overflow: hidden;
}


.scrollbar > .scroll-element.scroll-y .scroll-element_track {
  background-color: #aaaaab;
  width: 2px;
  left: 1px;
}
.scrollbar > .scroll-element.scroll-x .scroll-element_track {
  background-color: #aaaaab;
  height: 2px;
  top: 1px;
  left: 1px;
}
.scrollbar > .scroll-element .scroll-bar { background-color: #51a2e9; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }